.gradle
/local.properties
.idea/*
build
*.iml
app/*.apk
app/release/
app/src/main/res/drawable-hdpi-v9/
app/src/main/res/drawable-mdpi-v11/
app/src/main/res/drawable-mdpi-v9/
app/src/main/res/drawable-xhdpi-v11/
app/src/main/res/drawable-xhdpi-v9/
app/src/main/res/drawable-xxhdpi-v11/
app/src/main/res/drawable-xxhdpi-v9/
